.rich-text-area {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-cursor: text;
    -fx-padding: 0;
    -fx-content-padding: 4 8 4 8;
}

.rich-text-area:disabled {
    -fx-opacity: 0.4;
}

.rich-text-area:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
	-fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
	-fx-background-insets: -0.4, 1, 2;
	-fx-background-radius: 3.4, 2, 2;
    -fx-prompt-text-fill: transparent;
}

.rich-text-area .caret {
    -fx-stroke: black;
}

.rich-text-area .caret-line {
    -fx-stroke: null;
    -fx-fill: derive(-fx-accent,115%);
}

.rich-text-area .selection-highlight {
    -fx-stroke: null;
    -fx-fill: derive(-fx-accent,70%);
}